<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{% placeholder mw_title_meta default %}
    <title>{{ this.page.title }} | {{ website_title }}</title>
    <meta property="og:title" content="{{ this.page.title }} | {{ default_og_title }}">
    <meta name="twitter:title" content="{{ this.page.title }} | {{ default_twitter_title }}">
    <meta name="application-name" content="{{ default_tile_title }}"/>
{% endplaceholder %}

{% placeholder mw_description_meta default %}
    <meta property="og:description" content="{{ default_og_description }}">
    <meta name="description" content="{{ website_description }}"/>
    <meta name="twitter:description" content="{{ default_twitter_description }}">
{% endplaceholder %}

{% placeholder mw_social_image default %}
    {% if default_og_image.path %}
        <meta property="og:image" content="{{ default_og_image.path }}">
    {% endif %}
    {% if default_twitter_image.path %}
        <meta name="twitter:image" content="{{ default_twitter_image.path }}">
    {% endif %}
{% endplaceholder %}


{% placeholder mw_url_meta default %}
    <meta property="og:url" content="{{ website_domain }}{{ this.page.url }}"/>
{% endplaceholder %}

<meta name="keywords" content="{{ website_keywords }}"/>
<meta name="author" content="Viamage"/>
<meta name="application-name" content="{{ default_tile_title }}"/>

{% if website_icon.path %}
    <link rel="icon" href="{{ website_icon.getThumb(128,128) }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ website_icon.path }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ website_icon.thumb(72,72) }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ website_icon.thumb(114,114) }}"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ website_icon.thumb(144,144) }}"/>
{% endif %}

<meta name="robots" content="{{ website_robots }}">
<meta name="revisit-after" content="{{ website_revisit }}">
<meta property="og:type" content="{{ default_og_type }}">
<meta property="og:site_name" content="{{ website_title }}">

<meta name="twitter:card" content="{{ twitter_card }}">
<meta name="twitter:site" content="@{{ my_twitter }}">
<meta name="twitter:creator" content="@viamamge">


<meta name="msapplication-TileColor" content="{{ default_tile_background }}"/>
{% if windows_image.path %}
    <meta name="msapplication-square70x70logo" content="{{ windows_image.thumb(70,70) }}"/>
    <meta name="msapplication-square150x150logo" content="{{ windows_image.thumb(150,150) }}"/>
    <meta name="msapplication-wide310x150logo" content="{{ windows_image.thumb(310,150) }}"/>
    <meta name="msapplication-square310x310logo" content="{{ windows_image.path }}"/>
{% endif %}

{% if default_tile_rss_feed %}
    <meta name="msapplication-notification" content="frequency=30;
polling-uri=http://notifications.buildmypinnedsite.com/?feed={{ default_tile_rss_feed }}&amp;
id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed={{ default_tile_rss_feed }}&amp;
id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed={{ default_tile_rss_feed }}&amp;
id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed={{ default_tile_rss_feed }}&amp;
id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed={{ default_tile_rss_feed }}&amp;id=5;
 cycle=1"/>
{% endif %}
