<div id="cookieBanner" class="row">
    {{'This website uses two types of third party cookies to provide highest quality of service.'|_}}
    <input type="checkbox" name="common_cookies" selected="selected" disabled="disabled"/> Internal & CloudFlare cookies required for proper website navigation<br />
    <input type="checkbox" name="common_cookies" /> Analytics cookies which help us with scaling and translating our website<br />

    {{'<a href="https://ico.org.uk/for-organisations/guide-to-pecr/cookies/" title="ICO - New EU cookie law (e-Privacy Directive)" target="_blank" rel="nofollow">Read more...</a>'|_}}
    <br />
    <div id="cookieBannerActions">
        <div id="cookieBannerClose"><a href="#" class="btn btn-default btn-transparent hvr-glow">{{'I accept'|_}}</a></div>
    </div>
</div>