<div data-control="toolbar" style="text-align: right; padding-right: 20px; margin-bottom: 10px;">
    <?php if($this->vars['simpleMenu']): ?>
    <a class="btn btn-primary">Menu Editor</a>
    <?php endif ?>
    <?php if($this->vars['slider']): ?>
    <a class="btn btn-primary">Slider Editor</a>
    <?php endif ?>
    <?php if($this->vars['portfolio']): ?>
    <a class="btn btn-primary">Portfolio</a>
    <?php endif ?>
    <?php if($this->vars['faq']): ?>
    <a class="btn btn-primary">FAQ</a>
    <?php endif ?>
</div>